%p
  %b= comment.author ? "#{comment.author.name}" : "Anonymous"
  ":#{comment.content}"

= link_to 'Edit', edit_comment_path(comment)
- if comment.author
  = link_to 'Reply', post_path(@post, :reply => "#{comment.author.id}")
