%h2= @article.title
%strong= if @article.category then @article.category.name else 'No category' end
%p= if @article.author then @article.author.name else 'No author' end
%p#notice= notice
%p= @article.content
%p Tags:
- @tags.each do |tag|
  %div= tag.content
=link_to 'Edit', edit_article_path(@article) |
=link_to 'Back', articles_path
