%h1 Listing courses

%table
  %tr
    %th Name
    %th Description
    %th Location
    %th Ctime
    %th Belong
    %th Teacher
    %th
    %th
    %th

  - @courses.each do |course|
    %tr
      %td= course[0].name
      %td= course[0].description
      %td= course[0].location
      %td= course[1]
      %td= course[0].belong
      %td= course[0].teacher
      %td= link_to 'Show', course[0]
      %td= link_to 'Edit', edit_course_path(course[0])
      %td= link_to 'Destroy', course[0], :method => :delete, :data => { :confirm => 'Are you sure?' }

%table
  %tr
    %th
    %th Mon
    %th Tue
    %th Wed
    %th The
    %th Fri
  - (0..5).each do |i|
    %tr
      %td= i+1
      - (0..5).each do |j|
        - if @course_table[i][j]
          %td= link_to "#{@course_table[i][j].name}", course_path(@course_table[i][j])
        - else
          %td

%br

= link_to 'New Course', new_course_path
