%h1 All top categories
%table
  %thead
    %tr
      %th Name
      %th Description
      %th Parent
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.description
        %td
          - if category.parent
            = category.parent.name
          - else
            N/A
        %td= link_to 'Show', category, :id => "show_#{category.name}"
        %td= link_to 'Edit', edit_category_path(category), :id => "edit_#{category.name}"
        %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, :id => "destroy_#{category.name}"
%br

= link_to 'New Category', new_category_path
